on: [push, pull_request]

name: CI

jobs:
  install_and_test:
    name: Install & Test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        rust:
          - stable
    steps:
      - uses: actions/checkout@v3

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true

      - name: Setup Python env
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"
          check-latest: true

      - name: Install Poetry
        uses: snok/install-poetry@v1

      - name: Install CLI and extism lib
        run: |
          pip3 install cffi
          pip3 install .
          extism -h
        
          extism install latest
      
      - name: Test CLI
        run: |
          echo "this is a test" | extism call test/code.wasm count_vowels

      - name: Test CLI with /usr/local prefix install
        run: |
          extism uninstall
          extism --prefix /usr/local install latest
          
          echo "this is a test" | extism call test/code.wasm count_vowels
        
    
      - name: Test CLI with git install
        run: |
          extism uninstall
          extism install git
          
          echo "this is a test" | extism call test/code.wasm count_vowels
