on:
  pull_request:
  workflow_dispatch:

name: Test

jobs:
  install_latest_and_test:
    name: Install & Test (git latest)
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        rust:
          - stable
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/extism-cli

      - name: Install lib
        run: |
          sudo extism --github-token ${{ secrets.GITHUB_TOKEN }} lib install --version latest --verbose
      
      - name: Test CLI
        run: |
          echo "this is a test" | extism call test/code.wasm count_vowels --stdin

  install_release_and_test:
    name: Install & Test (release)
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        rust:
          - stable
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/extism-cli

      - name: Install lib
        run: |
          sudo extism --github-token ${{ secrets.GITHUB_TOKEN }} lib install --verbose

      - name: List releases
        run: extism lib versions
      
      - name: Test CLI
        run: |
          echo "this is a test" | extism call test/code.wasm count_vowels --stdin     
